
@{
    ViewBag.Title = "AfekaTorrent";
}
    @Styles.Render("~/Content/css")
    <center><div class="jumbotron">
        <h1>Afeka Torrent</h1>
        <p class="lead">Afeka Torrent Administration Console</p>
    </div></center>
    <div class="row">
        <div class="col-md-4">
        </div>
    </div>
